.card {
  /* Add shadows to create the "card" effect */
  border-radius: 5%;
  height: 300px;
  width: 200px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459);
  transition: 0.3s;
  text-align: center;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.705);
}

.result {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 200px;
}

.name {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
